<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>SessionControl</filter-name>
  	<display-name>SessionControl</display-name>
  	<description></description>
  	<filter-class>com.ecommapp.filters.SessionControl</filter-class>
  </filter>
  <filter>
  	<filter-name>Controller_shoppingCartJSP</filter-name>
  	<display-name>Controller_shoppingCartJSP</display-name>
  	<description></description>
  	<filter-class>com.ecommapp.filters.Controller_shoppingCartJSP</filter-class>
  </filter>
   <filter-mapping>
  	<filter-name>Controller_shoppingCartJSP</filter-name>
  	<url-pattern>/shoppingCart.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>SessionControl</filter-name>
  	<url-pattern>/homeAdmin</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>SessionControl</filter-name>
  	<url-pattern>/addProduct</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>SessionControl</filter-name>
  	<url-pattern>/home</url-pattern>
  </filter-mapping>
  <listener>
  	<listener-class>com.ecommapp.listeners.SessionControlListener</listener-class>
  </listener>
  <servlet>
  	<servlet-name>Controller_Login</servlet-name>
  	<display-name>Controller_Login</display-name>
  	<description></description>
  	<servlet-class>com.ecommapp.servlets.Controller_Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>homeAdmin</servlet-name>
  	<display-name>homeAdmin</display-name>
  	<description></description>
  	<servlet-class>com.ecommapp.servlets.homeAdmin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerLogOut</servlet-name>
  	<display-name>ControllerLogOut</display-name>
  	<description></description>
  	<servlet-class>com.ecommapp.servlets.ControllerLogOut</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerAddProduct</servlet-name>
  	<display-name>ControllerAddProduct</display-name>
  	<description></description>
  	<servlet-class>com.ecommapp.servlets.ControllerAddProduct</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Controller_showProduct</servlet-name>
  	<display-name>Controller_showProduct</display-name>
  	<description></description>
  	<servlet-class>com.ecommapp.servlets.Controller_showProduct</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Controller_home</servlet-name>
  	<display-name>Controller_home</display-name>
  	<description></description>
  	<servlet-class>com.ecommapp.servlets.Controller_home</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShoppingCart</servlet-name>
  	<display-name>ShoppingCart</display-name>
  	<description></description>
  	<servlet-class>com.ecommapp.servlets.ShoppingCart</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerCustomerRegister</servlet-name>
  	<display-name>ControllerCustomerRegister</display-name>
  	<description></description>
  	<servlet-class>com.ecommapp.servlets.ControllerCustomerRegister</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Controller_shoppingCart</servlet-name>
  	<display-name>Controller_shoppingCart</display-name>
  	<description></description>
  	<servlet-class>com.ecommapp.servlets.Controller_shoppingCart</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>shoppingCart</servlet-name>
  	<display-name>shoppingCart</display-name>
  	<description></description>
  	<servlet-class>com.ecommapp.servlets.shoppingCart</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>TestServlet</servlet-name>
  	<display-name>TestServlet</display-name>
  	<description></description>
  	<servlet-class>com.ecommapp.servlets.TestServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TestServlet2</servlet-name>
  	<display-name>TestServlet2</display-name>
  	<description></description>
  	<servlet-class>com.ecommapp.servlets.TestServlet2</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>ControllerCustomerAuth</servlet-name>
  	<display-name>ControllerCustomerAuth</display-name>
  	<description></description>
  	<servlet-class>com.ecommapp.servlets.ControllerCustomerAuth</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Controller_Login</servlet-name>
  	<url-pattern>/Controller_Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>homeAdmin</servlet-name>
  	<url-pattern>/homeAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerLogOut</servlet-name>
  	<url-pattern>/logOut</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerAddProduct</servlet-name>
  	<url-pattern>/addProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Controller_showProduct</servlet-name>
  	<url-pattern>/Controller_showProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Controller_home</servlet-name>
  	<url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShoppingCart</servlet-name>
  	<url-pattern>/ShoppingCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerCustomerRegister</servlet-name>
  	<url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Controller_shoppingCart</servlet-name>
  	<url-pattern>/Controller_shoppingCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>shoppingCart</servlet-name>
  	<url-pattern>/shoppingCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TestServlet</servlet-name>
  	<url-pattern>/search.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TestServlet2</servlet-name>
  	<url-pattern>/search2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerCustomerAuth</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
</web-app>
