<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Ecomm-spring-adyen</display-name>
  <filter>
  	<filter-name>SessionControl</filter-name>
  	<display-name>SessionControl</display-name>
  	<description></description>
  	<filter-class>com.ecommapp.filters.SessionControl</filter-class>
  </filter>
   <filter-mapping>
  	<filter-name>SessionControl</filter-name>
  	<url-pattern>/shoppingCart.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>SessionControl</filter-name>
  	<url-pattern>/homeAdmin.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>SessionControl</filter-name>
  	<url-pattern>/home.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>SessionControl</filter-name>
  	<url-pattern>/addProduct</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>SessionControl</filter-name>
  	<url-pattern>/products</url-pattern>
  </filter-mapping>
   <filter-mapping>
  	<filter-name>SessionControl</filter-name>
  	<url-pattern>/products.jsp</url-pattern>
  </filter-mapping>
   <filter-mapping>
  	<filter-name>SessionControl</filter-name>
  	<url-pattern>/showProduct.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>SessionControl</filter-name>
  	<url-pattern>/ControllerShowProduct</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>SessionControl</filter-name>
  	<url-pattern>/addProduct.jsp</url-pattern>
  </filter-mapping>
    <!--  filter-mapping>
  	<filter-name>SessionControl</filter-name>
  	<url-pattern>/ControllerAddToCart</url-pattern>
  </filter-mapping -->
  <listener>	
  	<listener-class>com.ecommapp.listeners.SessionControlListener</listener-class>
  </listener>
  <servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/ecomm-spring-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
  <servlet>
  	<servlet-name>ControllerAdminLogin</servlet-name>
  	<display-name>ControllerAdminLogin</display-name>
  	<description></description>
  	<servlet-class>com.ecommapp.servlets.ControllerAdminLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>homeAdmin</servlet-name>
  	<display-name>homeAdmin</display-name>
  	<description></description>
  	<servlet-class>com.ecommapp.servlets.homeAdmin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerAddProduct</servlet-name>
  	<display-name>ControllerAddProduct</display-name>
  	<description></description>
  	<servlet-class>com.ecommapp.servlets.ControllerAddProduct</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerShowProduct</servlet-name>
  	<display-name>ControllerShowProduct</display-name>
  	<description></description>
  	<servlet-class>com.ecommapp.servlets.ControllerShowProduct</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerProducts</servlet-name>
  	<display-name>ControllerProducts</display-name>
  	<description></description>
  	<servlet-class>com.ecommapp.servlets.ControllerProducts</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerCustomerRegister</servlet-name>
  	<display-name>ControllerCustomerRegister</display-name>
  	<description></description>
  	<servlet-class>com.ecommapp.servlets.ControllerCustomerRegister</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerAddToCart</servlet-name>
  	<display-name>ControllerAddToCart</display-name>
  	<description></description>
  	<servlet-class>com.ecommapp.servlets.ControllerAddToCart</servlet-class>
  </servlet>
   <servlet>
   	<servlet-name>ControllerShoppingCartJSP</servlet-name>
   	<display-name>ControllerShoppingCartJSP</display-name>
   	<description></description>
   	<servlet-class>com.ecommapp.servlets.ControllerShoppingCartJSP</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>ControllerCheckOut</servlet-name>
   	<display-name>ControllerCheckOut</display-name>
   	<description></description>
   	<servlet-class>com.ecommapp.servlets.ControllerCheckOut</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>ControllerDeleteFromCart</servlet-name>
   	<display-name>ControllerDeleteFromCart</display-name>
   	<description></description>
   	<servlet-class>com.ecommapp.servlets.ControllerDeleteFromCart</servlet-class>
   </servlet>
   <servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/adyen/*</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerAdminLogin</servlet-name>
  	<url-pattern>/ControllerAdminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerAddProduct</servlet-name>
  	<url-pattern>/addProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerShowProduct</servlet-name>
  	<url-pattern>/ControllerShowProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerProducts</servlet-name>
  	<url-pattern>/products</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerCustomerRegister</servlet-name>
  	<url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerShoppingCartJSP</servlet-name>
  	<url-pattern>/ControllerShoppingCartJSP</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerAddToCart</servlet-name>
  	<url-pattern>/ControllerAddToCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerCheckOut</servlet-name>
  	<url-pattern>/checkOut</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
  	<servlet-name>ControllerDeleteFromCart</servlet-name>
  	<url-pattern>/ControllerDeleteFromCart</url-pattern>
  </servlet-mapping>
</web-app>
